extends layout

block content
  h1= title

  ul(class='projects')
    each project in projects
      li <a href=#{base}/#{project}/>#{project}</a> 

  p Powered by <a href="https://github.com/feri/ghook">ghook</a>
